/* Variables Name */
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --roseWhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightGrey: hsl(30, 18%, 87%);
  --wengeBrown: hsl(30, 10%, 34%);
  --darkCharcoal: hsl(24, 5%, 18%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", system-ui;
}

/* Primary Style */
body {
  width: 1000px;
  font-size: 16px;
  background-color: var(--eggshell);
}
.main {
  
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  border-radius: 1rem;
}
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
h1 {
  color: var(--darkCharcoal);
  font-size: 2rem;
  margin-top: 1.5rem;
}

p,
li {
  color: var(--wengeBrown);
  font-weight: 400;
  line-height: 2rem;
}
hr {  
  color: var(--lightGrey);
  opacity: 0.5;
  margin: 1rem 0;
}

/* Container Style */

.container-box {
  width: 70%;
  background-color: var(--white);
  border-radius: 0.5rem;
}
.imageHolder {
  padding: 1rem;
}
.container {
  padding: 1rem;
}
